<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link href="__STATIC__/video/css/WeUI/weui.min.css" rel="stylesheet" />
    <link href="__STATIC__/video/css/mui/mui.min.css" rel="stylesheet" />
    {include file='public/head' /}
    <style>
    <style > body {
        margin: 0;
        padding: 0;
        font-family: 'Microsoft YaHei';
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        line-height: 20px;
    }

    .weui-article {
        padding: 5px 15px;
    }

    small {
        color: #1AAC19;
    }

    h2 {
        color: #1AAC19;
    }
    </style>
    <title>联系我</title>
</head>
<body>







    <img src="__STATIC__/video/images/contact1.jpg" />
    <article class="weui-article">
        <h1>联&nbsp;系&nbsp;我<br /><small>Contact Me</small></h1>

        <section>
            <h2 class="title">关于网站</h2>
            <section>
                首先对大家表示歉意，由于时间紧迫，此网站仅仅利用半天时间进行开发，给大家带来的不便和不良的使用体验，本人在此深表歉意！如有使用方面的问题，请联系我们。对于网站上的Bug希望你们反馈与谅解！点击本页面最下方反馈哦！我们会第一时间进行查看！
                
            </section>


        <section>
            <h2 class="title">关于活动</h2>
            <section>
本活动旨在提高大家的自律能力，养成良好的习惯，希望你们坚持完成这21天的活动，在此，我仅代表校易班工作站，祝大家取得优异成绩！同时祝大家天天开心！
            </section>
            <h2 class="title">关于我们</h2>
            <section>
                <center >
                开发者：信息技术学院2016级刘晨 安凯<br>
                邮箱：liuchen_1028@163.com <br>
                github地址:https://github.com/ChenxiaoW <br>
                11月4日 21:30 记
                </center>
            </section>
        </section>
    </article>
        {include file='public/foot' /}
</body>
</html>